* {
    box-sizing: border-box;
}
html{
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    background-color: white;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*height: 100vh;*/
}

#add-edit-form-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.add-edit-drink-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*width: 50%;*/
    padding: 20px 10px;
    background-color: grey;
}

.add-edit-drink-form input {
    display: block;
    width: 100%;
    height: 25px;

}

.add-edit-drink-form label {
    width: 100%;
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    margin-top: 20px;
}

.add-feedback button {
    height: 25px;
    margin-top: 20px;
    background-color: orange;
    border: none;
}

.error {
    color: red;
    font-weight: bold;
}

.table-container table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
    height: 100px;
    background-color:red;
}

#service-table-container table td:nth-child(7) {
    border-right: none;
}

#service-table-container table td:last-of-type {
    border-left: none;
}

form .reg-login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    border: grey;
    background-color: grey;
    padding: 20px 50px;
    margin-bottom: 100px;
}

.reg-login-form input {
    display: block;
    width: 100%;
    height: 25px;
    /*border: 0;*/
    border: 1px solid grey;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    color: grey;
}
.reg-login-form placeholder{
    color:white;
}
.reg-login-form label {
    font-size: 12px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;
    color: grey;
}

.reg-login-form label:not(:first-of-type) {
    margin-top: 20px;
}

.reg-login-form button {
    width: 95%;
    height: 40px;
    margin-top: 20px;
    border: none;
    background-color: orange;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1em;
}

.feedback-form-container{
    margin-top: 20px;
}

textarea{
   margin-bottom: 20px;
    resize: vertical;
    width: 100%;
    height: 100px;
}

nav {
    background-color: darkgrey;
    height: 7%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav ul {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav .left-side {
    padding-left: 30px;
}

nav .right-side {
    padding-right: 30px;
}

nav li {
    margin-right: 10px;
    height: 100%;
}

nav a {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    height: 100%;
    font-weight: bold;
    padding: 0 5px;
}

nav a:hover {
    background-color: #ada397;
}

.catalog {
    width: 90%;
    /*display: flex;*/
    flex-wrap: wrap;
}

.catalog {
    display: grid;
    /*flex-direction: column;*/
    align-items: center;
    margin-bottom: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    /*width: calc(100% / 4 - 15px);*/
}

.service-container{
    display: grid;
    grid-template-rows: 1fr 3fr;

}

.catalog .service-container:not(:nth-child(4n)) {
    margin-right: 20px;
}

.catalog article {
    position: relative;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    background-color: white;
    overflow: hidden;
    margin-bottom: 15px;
}

.catalog .service-info {
    margin: 5px;
}

.catalog .service-info p {
    margin: 20px;
    font-size: 12px;
    text-align: center;
}

.catalog article .service-info p:last-of-type {
    align-content: center;
}

.image-container{
    display: flex;
    width: 100%;
    height: 50%;
    top: 0;
}

img {
    width: 100%;
}

.map-container{
    height:300px;
    width:100%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: white;
    text-align: center;
}

footer>span{
    font-size: 10px;
    color: white;

}

.header-photo {
    position: relative;
    transition: 0.3s;
    width: 100%;
    height: 150px;
    top: 0;
    background-image: url("../../assets/taxi.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

h1{
    margin: 20px;
    color: grey;
}

@media screen and (max-width: 400px) {

   .header-photo{
        width: 100%;
        height: 150px;
        top: 0;
        background-image:  url("../../assets/taxi.jpg");
    }


    .catalog {
        display: grid;
        /*flex-direction: column;*/
        align-items: center;
        margin-bottom: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 15px;
        /*width: calc(100% / 4 - 15px);*/
    }
}